[submodule "ABP"]
	path = ABP
	url = https://github.com/SimulationEverywhere/Cadmium-ABP.git
[submodule "Barbershop"]
	path = Barbershop
	url = https://github.com/SimulationEverywhere-Models/Cadmium-Barbershop.git
[submodule "Stock_Prediction_Simulation"]
	path = Stock_Prediction_Simulation
	url = https://github.com/SimulationEverywhere-Models/Cadmium-Stock_Prediction_Simulation.git
[submodule "O-Train"]
	path = O-Train
	url = https://github.com/SimulationEverywhere-Models/Cadmium-otrain.git
[submodule "Online_Banking_System"]
	path = Online_Banking_System
	url = https://github.com/SimulationEverywhere-Models/Cadmium-Online_Banking_System.git
